.parallax-effect {
  width: 6rem;
  height: 6rem;
  background: linear-gradient(
    to bottom right,
    hsl(200, 83%, 57%),
    hsl(313, 66%, 47%)
  );
  border-radius: 1rem;
  transform-style: preserve-3d;
  margin: 1rem;
  margin-right: auto;
  cursor: default;
}

.back {
  font-size: 4rem;
  transform: translateZ(50px);
}

.middle {
  font-size: 3rem;
  transform: translateZ(100px);
}

.front {
  font-size: 2rem;
  transform: translateZ(150px);
}

.superimpose {
  position: absolute;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
