.parallax-effect {
  width: 4rem;
  height: 4rem;
  background: linear-gradient(
    to bottom right,
    hsl(200, 83%, 57%),
    hsl(313, 66%, 47%)
  );
  border-radius: 1rem;
  transform-style: preserve-3d;
  margin: 1rem;
  margin-right: auto;
}

.inner-element {
  font-size: 2rem;
  transform: translateZ(50px);
}
