img {
  /* Responsive image size */
  max-width: 500px;
  height: auto;
  font-family: var(--font-sans-serif);
  font-weight: 300;
  line-height: 2;
  text-align: center;
  display: block;
  position: relative;
}

/* Style Broken Images */
img:before {
  content: "We're sorry, the image below is broken :(";
  display: block;
  margin-bottom: 10px;
}

img:after {
  content: '(url: ' attr(src) ')';
  display: block;
  font-size: 12px;
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}
